<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jalizadeh.com.androidbeginner">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ListViewWithPhoto" />
        <activity android:name=".SearchInList" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".ConstraintLayout_Activity" />
        <activity android:name=".RelativeLayout_Activity" />
        <activity android:name=".YoutubePlayer_Activity" />
        <activity android:name=".Graph_Activity" />
        <activity android:name=".SharedPref_Activity" />
        <activity android:name=".UsingSharedPref_Activity" />
        <activity android:name=".GetDataByIntent" />
        <activity android:name=".CustomDialogBox_Activity" />
        <activity android:name=".WebView_Activity" />
        <activity android:name=".CardView_Activity" />
        <activity android:name=".ListOfCardView_Activity" />
        <activity android:name=".DatePickerDialog_Activity"></activity>
    </application>

</manifest>